/* styles.css */

#chatWidgetContainer {
    position: fixed !important;
    border: 5px solid black !important;
    bottom: 20px !important;
    right: 20px !important;
    width: 400px !important;
    height: 500px !important;
    border: 1px solid #ccc !important;
    border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
    overflow: auto !important;
    display: none !important;
    z-index: 11111 !important;
}

.chat_open{
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
    z-index: 1111111 !important;
}
.hidden {
    display: none !important; /* CSS class to hide an element */
}
.top_container{
    /* position: fixed; */
    /* top: 0; */
    background-color: red !important;
    height: 100px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0 30px !important;

}

.avatar{
    height: 80px !important;
}
.chat-container {
    padding: 0 20px !important;
    margin-top: 40px !important;
    margin-bottom: 50px !important;
    min-height: auto !important;
    scroll-behavior: smooth !important;
}
.message-container{
 display: flex !important;
 gap: 5px !important;
    align-items: center !important;
    position: fixed !important;
    bottom: 30px !important;
    right: 20px !important;
    width: 380px !important;
}

.message-input {
    /* width: inherit; */
    width: calc(100% - 60px) !important;
    padding: 10px !important;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
}

.chat-message {
    margin-bottom: 10px !important;
}
.chat-message.user {
    background-color: #DCF8C6 !important;
    align-self: flex-end !important;
}

.chat-message.server {
    background-color: #EAEAEA !important;
    align-self: flex-start !important;
}

button {
    width: 50px !important;
    padding: 10px !important;
    /* height: 40px; */
    border-radius: 10px !important;
    background: #489CD1 !important;
    color: white !important;
    border: none !important;
    cursor: pointer !important;
    transition: background 0.3s ease !important;
}

.send-button:hover {
    background: #45a049 !important;
}


.close_button{
position: absolute !important;
top: 10px !important;
right: 10px !important;
}




@media only screen and (max-width:600px) {

    #chatWidgetContainer {
        width: 290px  !important;
        height: 400px !important;
        display: none !important;
    }
    .message-container{
        display: flex !important;
        gap: 5px !important;
        align-items: center !important;
       position: fixed !important; 
           bottom: 30px !important;
           right: 20px !important;
           width: 280px !important;
       }
       
    .message-input {
        width: 280px !important;
        border: none !important;
        border-bottom: 1px solid #ccc !important;
    }
}